@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
@import url(https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

.header-pc a {
    color: #fff;
}

.header-pc {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    min-width: 740px;
    font-weight: bold;
    font-family: "Roboto", "Source Sans Pro", "Helvetica", "Arial", sans-serif;
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
    box-shadow: rgba(255, 255, 255, 0.2) 0px 19px 38px, rgba(255, 255, 255, 0.2) 0px 15px 12px;
}

.header_section {
    display: flex;
    align-items: center;
}

.header_item {
    padding: 10px 15px;
    font-size: 20px;
    margin-left: 15px;
    color: whitesmoke;
    opacity: 1;
    align-items: center;
}

.header_item:hover {
    opacity: 0.6;
}

.headerlogo {
    font-weight: bold;
    padding: 10px 15px;
    font-size: 40px;
    color: #fff;
    margin-left: 5px;
    align-content: center;
}

.headerButton {
    cursor: pointer;
}

.header_left {
    margin-left: 4em;
}

.header_right {
    margin-right: 4em;
}

.header_news {
    border: none;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown_text:hover {
    opacity: 0.7;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: whitesmoke;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: right;
    margin-right: 0.5em;
    font-family: "Roboto", "Source Sans Pro", "Helvetica", "Arial", sans-serif;
    font-size: 20px;
  }

  .fa-bars {
    color: #6d4d6d;
    text-decoration: none;
  }
  
  @media screen and (max-width: 820px) {
    body {
      width: 100%;
      overflow: hidden;
    }
  
    .header-pc {
      display: none;
    }
  
    .header_section {
      width: 100%;
      margin-left: 2px;
      margin-right: 5%;
      text-align: right;
      align-content: center;
    }
  
    .headerlogo {
      color: whitesmoke;
      margin-left: 20px;
      text-decoration: none;
    }
  
    .header-phone {
      display: block;
      justify-content: space-between;
      padding: 10px;
      align-content: left;
      mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
      color: white;
      min-width: 740px;
      font-family: "Roboto", "Source Sans Pro", "Helvetica", "Arial", sans-serif;
      background-color: #12192c;
      box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    }
  
    .dropdown-content {
      display: none;
      position: absolute;
      left: 1em;
      min-width: 120px;
      z-index: 1;
      background: #7a7af4;
      -webkit-box-shadow: 15px 14px 19px 0px rgba(96, 186, 255, 0.2);
      -moz-box-shadow: 15px 14px 19px 0px rgba(96, 186, 255, 0.2);
      box-shadow: 15px 14px 19px 0px rgba(96, 186, 255, 0.2);
      border-radius: 0 10px;
    }
  
    .header_item {
      text-decoration: none;
      color: black;
    }
  
    .dropdown:hover .dropdown-content {
      display: block;
    }
  
  }
  
  @media screen and (min-width: 821px) {
  
    .header-phone {
      display: none;
    }
  
  }