@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
@import url(https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

body {
    color: #666;
    font-family: "Roboto", "Source Sans Pro", "Helvetica", "Arial", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    margin: 0;
    max-width: 100%;
  }
  
.header-pc a {
    color: #fff;
}

.header-pc {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-content: center;
    mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
    color: #fff;
    min-width: 740px;
    font-family: "Roboto", "Source Sans Pro", "Helvetica", "Arial", sans-serif;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

.header_section {
    display: flex;
    align-items: center;
}

.header_item {
    padding: 10px 15px;
    font-size: 20px;
    margin-left: 15px;
    color: whitesmoke;
    opacity: 1;
    align-items: center;
}

.header_item:hover {
    opacity: 0.6;
}

.headerlogo {
    font-weight: bold;
    padding: 10px 15px;
    font-size: 36px;
    margin-left: 5px;
    align-content: center;
}

.headerButton {
    cursor: pointer;
}

html {
  background-image: linear-gradient(to right top, #8e44ad 0%, #3498db 100%);
  font-size: 14px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

div, h2, p, figure {
  margin: 0;
  padding: 0;
}

.main {
  margin: 0 auto;
  max-width: 1040px;
  padding: 10px;
}

.column {
  flex: 1;
  flex-direction: column;
}

.article {
  background: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #666;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-basis: auto;
  margin: 10px;
}

.article:hover,
.article:focus {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  color: #444;
}

.article-image {
  background: #eee;
  display: block;
  padding-top: 75%;
  position: relative;
  width: 100%;
}

.article-image img {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.article-image.is-3by2 {
  padding-top: 66.6666%;
}

.article-image.is-16by9 {
  padding-top: 56.25%;
}

.article-body {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 20px;
}

.article-title {
  color: #333;
  flex-shrink: 0;
  font-size: 1.4em;
  font-weight: 700;
  line-height: 1.2;
}

.article-content {
  flex: 1;
  margin-top: 5px;
}

.article-info {
  display: flex;
  font-size: 0.85em;
  justify-content: space-between;
  margin-top: 10px;
}

@media screen and (min-width: 800px) {
  .columns,
  .column {
    display: flex;
  }
}

@media screen and (min-width: 1000px) {
  .first-article {
    flex-direction: row;
  }

  .first-article .article-body {
    flex: 1;
  }

  .first-article .article-image {
    height: 300px;
    order: 2;
    padding-top: 0;
    width: 400px;
  }

  .main-column {
    flex: 3;
  }

  .nested-column {
    flex: 2;
  }
}

.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

.row{
	display: flex;
	flex-wrap: wrap;
}

.footer-col ul {
    list-style: none;
}

.container{
	max-width: 1170px;
	margin-left: 29%;
}

.copyright {
  margin-top: 30px;
  text-align: center;
}

.header_left {
    margin-left: 4em;
}

.header_right {
    margin-right: 4em;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: whitesmoke;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: right;
  margin-right: 0.5em;
  font-family: "Roboto", "Source Sans Pro", "Helvetica", "Arial", sans-serif;
  font-size: 20px;
}

.header_news {
  border: none;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown_text:hover {
  opacity: 0.7;
}

@media screen and (max-width: 820px) {
  body {
    width: 100%;
    overflow: hidden;
  }

  .header-pc {
    display: none;
  }

  .header_section {
    width: 100%;
    margin-left: 2px;
    margin-right: 5%;
    text-align: right;
    align-content: center;
  }

  .headerlogo {
    color: whitesmoke;
    margin-left: 20px;
  }

  .header-phone {
    display: block;
    justify-content: space-between;
    padding: 10px;
    align-content: left;
    mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
    color: white;
    min-width: 740px;
    font-family: "Roboto", "Source Sans Pro", "Helvetica", "Arial", sans-serif;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  }

  .dropdown-content {
    display: none;
    position: absolute;
    left: 1em;
    min-width: 120px;
    z-index: 1;
    background: #7a7af4;
    -webkit-box-shadow: 15px 14px 19px 0px rgba(96, 186, 255, 0.2);
    -moz-box-shadow: 15px 14px 19px 0px rgba(96, 186, 255, 0.2);
    box-shadow: 15px 14px 19px 0px rgba(96, 186, 255, 0.2);
    border-radius: 0 10px;
  }

  .header_item {
    text-decoration: none;
    color: black;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

}

@media screen and (min-width: 821px) {

  .header-phone {
    display: none;
  }

}
